---
import BaseLayout from "../layouts/BaseLayout.astro"
---
<BaseLayout title="Sparkio Charts Demo">
  <div class="grid grid-cols-2 gap-4">
    <a href="/line" class="p-4 border border-border rounded hover:bg-surface-dark/5">Line Chart</a>
    <a href="/bar" class="p-4 border border-border rounded hover:bg-surface-dark/5">Bar Chart</a>
    <a href="/area" class="p-4 border border-border rounded hover:bg-surface-dark/5">Area Chart</a>
    <a href="/scatter" class="p-4 border border-border rounded hover:bg-surface-dark/5">Scatter Plot</a>
    <a href="/pie" class="p-4 border border-border rounded hover:bg-surface-dark/5">Pie Chart</a>
    <a href="/candlestick" class="p-4 border border-border rounded hover:bg-surface-dark/5">Candlestick</a>
  </div>
</BaseLayout>
